.nav-title{    
    color: #BC9E56 ;
    display: flex;
    align-items: center;    
}

.offcanvas-title{    
    color: #BC9E56 ;
}

.navbar{    
    background-color: #FFFFFF ;
    border-bottom: 2px solid;    
}

.nav-item{    
    color: black ;
}

#deconnexion{    
    color:crimson ;
}

