.btn-destination {
    position: relative;
    top: 20%;
    font-size: 30px;
    font-weight:600;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.btn-destPos {
    position: fixed;
    margin-top: 120px;
}

.carousel-control-prev-icon{
    background-color: black !important;    
}

.carousel-control-next-icon{
    background-color: black !important;
}

.destination-title{
    color: #BC9E56;
    background-color: black;
    font-size: 30px;  
}