.btn-destination {
    font-size: 30px;
    font-weight:600;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.btn-destPos {
    position: fixed;
    margin-top: 150px;
}

.carousel-control-prev-icon{
    background-color: black !important;    
}

.carousel-control-next-icon{
    background-color: black !important;
}

.modal-title{
    font-size: 80px;  
}